.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 24px;
  padding: 24px 24px 4px;
}

.options {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lable {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input_error {
  color: var(--primary-100);
  font-size: 14px;
}

.form_response_error {
  display: block;
  text-wrap: wrap;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  align-items: stretch;
}

.auth_button {
  align-self: center;
  min-width: 110px;
}

.auth_button:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
  border-radius: 4px;
}