.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 28px 24px;
  background-color: var(--bg-100);
  color: var(--text-100);
  border: 2px solid var(--bg-250);
  min-width: 300px;
  min-height: 150px;
  box-shadow: 0 0 50px rgb(0 0 0 / 25%);
  border-radius: 16px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-100);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6px;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}