.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lable {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.controls {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5px;
}

.input_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.range_button {
  border: 2px solid;
  cursor: pointer;
  width: min-content;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
  background-color: var(--accent-250);
  border-color: var(--accent-250);
  color: var(--text-400);
  border-radius: 8px;
  white-space: nowrap;
  text-shadow: 0 0 6px rgba(0 0 0 / 20%);
  font-size: 12px;
  padding: 4px 6px;
}

.range_button:hover {
  background-color: var(--accent-100);
  border-color: var(--accent-100);
}
