.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
}

.incidents {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--incident-bg-color);
}

.controls {
  display: grid;
  grid-template-columns: max(250px, 25%) 1fr;
  padding: 10px 0;
}

.search {
  background-color: inherit;
  border: 1px solid var(--bg-400);
  border-radius: 10px;
  min-width: 100%;
  min-height: 100%;
  padding: 2px 10px;
}

.search:focus-visible {
  outline: 2px solid currentcolor;
}

.search::placeholder {
  color: var(--bg-400);
}

.add_incident_button {
  max-width: 120px;
  justify-self: end;
  border: 1px solid var(--text-100);
  color: var(--text-100);
  background-color: var(--accent-100);
  transition-duration: 0.1s;
  transition-property: background-color;
}

.add_incident_button:hover {
  background-color: var(--accent-250);
}
