.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-bg-color);
  font-size: 16px;
  color: var(--text-100);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.caption {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  padding: 12px 16px;
  color: var(--text-200);
}

th {
  background-color: var(--table-bg-color-v2);
  padding: 14px 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

.column {
  padding: 14px 20px;
  border-bottom: 1px solid var(--bg-250);
  font-size: 16px;
  vertical-align: top;
}

.column:not(:last-child) {
  border-right: 1px solid var(--bg-250);
}

.empty_cell {
  background-color: var(--table-emty-color);
  text-align: center;
}

.selected_line,
.selected_line .column,
.selected_line .empty_cell {
  border-color: var(--table-row-color-hover);
  background-color: var(--table-row-color-hover);
}

.row:hover .column {
  cursor: pointer;
  border-color: var(--table-row-color-hover);
  background-color: var(--table-row-color-hover);
}

.empty_table {
  position: relative;
  height: 100%;
}

.empty_data {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-300);
}

.empty_data_column {
  font-size: 36px;
  text-align: center;
  padding: 40px 0;
  color: var(--text-300);
}




