.table_wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 600px;
  height: min-content;
  border-collapse: collapse;
  background-color: var(--table-bg-color);
  font-size: 16px;
  color: var(--text-100);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.caption {
  width: 100%;
  font-size: clamp(1rem, 0.8466rem + 0.6818vw, 1.375rem);
  font-weight: 700;
  text-align: left;
  padding: 12px 16px;
  color: var(--text-200);
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
}

th,
.column {
  padding: 14px 20px;
  font-size: clamp(0.75rem, 0.6477rem + 0.4545vw, 1rem);
}

th {
  background-color: var(--table-bg-color-v2);
  font-weight: 700;
  text-align: left;
}

.column {
  border-bottom: 1px solid var(--bg-250);
  vertical-align: top;
}

.column:not(:last-child) {
  border-right: 1px solid var(--bg-250);
}

.empty_cell {
  background-color: var(--table-emty-color);
  text-align: center;
}

.selected_line,
.selected_line .column,
.selected_line .empty_cell {
  border-color: var(--table-row-color-hover);
  background-color: var(--table-row-color-hover);
}

.row:hover .column {
  cursor: pointer;
  border-color: var(--table-row-color-hover);
  background-color: var(--table-row-color-hover);
}

.empty_table,
.table.empty_table {
  position: relative;
  height: auto;
}

.empty_data {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-300);
}

.empty_data_column {
  font-size: 36px;
  text-align: center;
  color: var(--text-300);
}

@media (width <= 1024px) {
  th,
  .column {
    padding: 12px 16px;
  }
}

@media (width <= 720px) {
  th,
  .column {
    padding: 10px 12px;
  }
}

@media (width <= 600px) {
  th,
  .column {
    padding: 8px;
  }
}