.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
}

.profile {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--incident-bg-color);
  min-height: 100%;
  font-size: clamp(16px, 2vw, 24px);
  color: var(--text-100);
}

.header_field {
  display: flex;
  align-items: center;
  gap: 20px;
}

.field {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: clamp(14px, 1.8vw, 20px);
}

.name {
  font-size: clamp(20px, 4vw, 34px);
  font-weight: bold;
}

.role {
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 700;
  padding: 4px 12px;
  border-radius: 12px;
  display: inline-block;
  width: auto;
  height: min-content;
  border: 2px solid;
}

.title {
  font-weight: 700;
  font-size: clamp(16px, 2vw, 24px);
}

.change_value {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.value {
  display: block;
}

.loader {
  margin-right: auto;
}

.change_value .loader {
  width: 20px;
  border-width: 3px;
}

.change_button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-200);
}

.lable_change_input {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.change_input {
  border: none;
  border-bottom: 2px solid var(--border-400);
  background-color: transparent;
  font-size: clamp(12px, 1.6vw, 16px);
  padding: 2px 4px;
  max-width: 150px;
  outline: none;
  transition-duration: 0.2s;
  transition-property: border-color, background-color, color;
  color: var(--text-100);
}

.change_input_proccess {
  background-color: var(--bg-200);
}

.change_input:focus {
  border-bottom-color: var(--accent-100);
  background-color: var(--bg-200);
}

.change_input::placeholder {
  color: var(--text-300);
  opacity: 0.7;
}

.change_input.change_input_not_valid {
  border-bottom-color: var(--primary-100);
  background-color: var(--primary-300);
}

.input_error {
  position: absolute;
  top: 105%;
  left: 0;
  font-size: clamp(10px, 1.3vw, 14px);
}

button.disable {
  cursor: default;
}


@media (width <= 600px) {
  .profile {
    padding: 20px;
    gap: 20px;
  }

  .header_field {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .field {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .change_button {
    width: 15px;
    height: 15px;
  }
}