.statistic_exceeds {
  color: var(--statistic-exceeds-color);
}

.statistic_worse {
  color: var(--statistic-worse-color);
}

.statistic_neutral {
  color: var(--text-100);
}

.modal {
  font-size: 20px;
  display: flex;
  justify-content: end;
  background-color: var(--bg-100);
  min-width: 400px;
  min-height: 500px;
}

.status_completed {
  background-color: var(--status-completed-color);
}

.status_underway {
  background-color: var(--status-underway-color);
}

.status_consideration {
  background-color: var(--status-consideration-color);
}

.status_none {
  background-color: var(--status-none-color);
}

.control_button {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.modal_title {
  font-size: 26px;
  font-weight: 700;
}