.disabled,
.textarea.textarea_disable,
.select.select_disable,
.input.input_disable {
  cursor: default;
}

.input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid var(--border-400);
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--accent-100);
}

.input_not_valid,
.input_not_valid.input:focus {
  border-color: var(--primary-100);
  background-color: var(--primary-300);
}

.input_error {
  color: var(--primary-100);
  font-size: 14px;
}

.input_disable,
.input.input_disable {
  background-color: var(--bg-250);
}

.confirm_button {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
  background-color: var(--accent-250);
  border-color: var(--accent-250);
  color: var(--text-400);
  height: 42px;
}

.confirm_button:not(.disabled) {
  text-shadow: 0 0 6px rgba(0 0 0 / 20%);
}

.confirm_button:hover:not(.disabled) {
  background-color: var(--accent-100);
  border-color: var(--accent-100);
}

.confirm_button.disabled {
  background-color: var(--bg-300);
  color: var(--text-300);
  border-color: var(--bg-300);
  cursor: default;
}

.close_button {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
  background-color: var(--bg-250);
  border-color: var(--bg-250);
  color: var(--text-100);
  height: 42px;
}

.close_button.disabled {
  background-color: var(--bg-300);
  color: var(--text-300);
  border-color: var(--bg-300);
  cursor: default;
}

.close_button:hover:not(.disabled) {
  background-color: var(--bg-300);
  border-color: var(--bg-300);
}

.field_title {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-100);
}

.textarea {
  padding: 10px 14px;
  min-height: 100px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid var(--border-300, #ccc);
  color: var(--text-100);
  font-family: inherit;
  transition: border-color 0.1s;
}

.textarea::placeholder {
  color: var(--text-300);
}

.textarea:focus {
  border-color: var(--accent-100);
}

.textarea_disable,
.textarea.textarea_disable {
  background-color: var(--bg-250);
}

.input_not_valid.textarea:focus,
.textarea.input_not_valid {
  border-color: var(--primary-100);
  background-color: var(--primary-300);
}

.select {
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 10px;
  background-color: inherit;
  border: 2px solid var(--border-300, #ccc);
  color: var(--text-100);
  cursor: pointer;
  transition: border-color 0.2s;
}

.select:focus {
  outline: none;
  border-color: var(--accent-100);
}

.select.input_not_valid {
  border-color: var(--primary-100);
  background-color: var(--primary-300);
}

.select_disable,
.select.select_disable {
  background-color: var(--bg-250);
}

.attention_button {
  padding: 10px 16px;
  font-size: 16px;
  max-width: 110px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.2s;
  border: 2px solid;
  transition-property: background-color, color, border-color;
  background-color: var(--bg-100);
  color: var(--primary-100);
  border-color: var(--primary-100);
}

.attention_button:hover:not(.disabled) {
  background-color: var(--primary-100);
  color: var(--text-400);
  border-color: var(--primary-100);
}

.attention_button.disabled {
  background-color: var(--bg-300);
  color: var(--text-300);
  border-color: var(--bg-300);
  cursor: default;
}
