:root {
  /* Шрифт */
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Times New Roman', times, serif;

  /* Палитра */
  --primary-100: #de283b;
  --primary-200: #ff6366;
  --primary-250: #e77887;
  --primary-300: #ffccc4;
  --accent-100: #25b1bf;
  --accent-200: #005461;
  --accent-250: #53c5cf;
  --accent-300: #92c9d1;
  --accent-400: #b7d4d8;
  --text-100: #1a1a1a;
  --text-200: #404040;
  --text-300: #585858;
  --text-400: #fff;
  --bg-100: #fff;
  --bg-200: #f5f5f5;
  --bg-250: #e2e2e2;
  --bg-300: #ccc;
  --bg-350: #bebebe;
  --bg-400: #8f8f8f;
  --border-100: #000;
  --border-200: #1a1a1a;
  --border-400: #ccc;
  --additional-100: #3f9c3f;
  --additional-150: #56c056;
  --additional-200: #ebc82e;

  /* Рабочие перемееные палитры */
  --main-bg-color: var(--bg-100);
  --main-text-color: var(--text-100);
  --header-bg-color: var(--bg-200);
  --header-text-color: var(--text-100);
  --header-text-color-v2: var(--primary-100);
  --header-text-color-hover: var(--primary-250);
  --header-separator-color: var(--bg-300);
  --home-bg-color: var(--bg-200);
  --incident-bg-color: var(--bg-200);
  --statistic-exceeds-color: var(--additional-100);
  --statistic-worse-color: var(--primary-100);
  --error-bg-color: var(--bg-200);
  --error-text-color: var(--text-100);
  --error-text-color-v2: var(--primary-100);
  --overlay-bg-color: #000;
  --modal-bg-color: var(--bg-100);
  --modal-bg-color-v2: var(--bg-200);
  --modal-button-color: var(--primary-100);
  --modal-bg-button-color-hover: var(--bg-200);
  --modal-text-color: var(--text-100);
  --modal-border-color: var(--bg-300);
  --table-bg-color: var(--bg-100);
  --table-bg-color-v2: var(--accent-100);
  --table-bg-color-v3: var(--accent-200);
  --table-emty-color: var(--bg-250);
  --table-row-color-hover: var(--accent-400);
  --button-bg-color: var(--primary-100);
  --status-completed-color: var(--additional-150);
  --status-underway-color: var(--primary-200);
  --status-consideration-color: var(--additional-200);
  --status-none-color: var(--bg-250);
  --form-bg-color: var(--bg-200);
  --form-bg-color-v2: var(--bg-300);

  /* svg */
  --svg-pen-color: var(--accent-100);
}
