:root {
  /* Шрифт */
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Times New Roman', times, serif;

  /* Палитра */
  --primary-100:#de283b;
  --primary-200:#ff6366;
  --primary-250:#e77887;
  --primary-300:#ffccc4;
  --accent-100:#25b1bf;
  --accent-200:#005461;
  --text-100:#1a1a1a;
  --text-200:#404040;
  --text-300:#585858;
  --bg-100:#fff;
  --bg-200:#f5f5f5;
  --bg-300:#ccc;
  --additional-100:#3f9c3f;

  /* Рабочие перемееные палитры */
  --main-bg-color: var(--bg-100);
  --main-text-color: var(--text-100);
  --header-bg-color: var(--bg-200);
  --header-text-color: var(--text-100);
  --header-text-color-v2: var(--primary-100);
  --header-text-color-hover: var(--primary-250);
  --header-separator-color: var(--bg-300);
  --home-bg-color: var(--bg-200);
  --statistic-exceeds-color: var(--additional-100);
  --statistic-worse-color: var(--primary-100);
  --error-bg-color: var(--bg-200);
  --error-text-color: var(--text-100);
  --error-text-color-v2: var(--primary-100);
}