.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 28px 24px;
  background-color: var(--bg-100);
  color: var(--text-100);
  border: 2px solid var(--bg-250);
  min-width: 300px;
  min-height: 150px;
  box-shadow: 0 0 50px rgb(0 0 0 / 25%);
  border-radius: 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-100);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6px;
}


.submit_button {
  padding: 10px 16px;
  font-size: 16px;
  max-width: 110px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.2s;
  border: 2px solid;
  transition-property: background-color, color, border-color;
  background-color: var(--bg-100);
  color: var(--primary-100);
  border-color: var(--primary-100);
}

.submit_button:hover {
  background-color: var(--primary-100);
  color: var(--text-400);
  border-color: var(--primary-100);
}

.disabled {
  cursor: default;
}

.submit_button.disabled {
  background-color: var(--bg-300);
  color: var(--text-300);
  border-color: var(--bg-300);
}

/* -------------- */

/* .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 24px;
  background-color: var(--bg-200);
  color: var(--text-100);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 2px solid var(--primary-100);
  min-width: 320px;
  max-width: 400px;
  width: 100%;
} */









