@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./style/variables.css');

body {
  margin: 0;
  height: 100vh;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

