.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  color: var(--modal-text-color);
  align-items: center;

  --padding: 20px;

  max-height: 700px;
  padding: 50px min(calc(-0.0367rem + 2.9411vw), 20px) 40px;
  min-width: clamp(350px, 50vw, 500px);
}

.status {
  position: absolute;
  display: block;
  left: 50%;
  top: 9px;
  transform: translate(-50%);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  width: 100%;
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-200);
}

.type {
  display: block;
  font-weight: 600;
  font-size: 18px;
}

.parameters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 20px;
  overflow: hidden;
  flex-grow: 1;
  color: var(--text-100);
}

.field {
  font-weight: 700;
  margin-right: 10px;
  color: var(--text-100);
}

.value {
  font-size: 19px;
  color: var(--text-300);
}

.footer {
  display: flex;
  align-items: end;
}

.date_wrapper {
  flex-grow: 1;
}

.date {
  position: relative;
  font-weight: 700;
  font-style: italic;
  color: var(--text-300);
  font-size: 15px;
}

.date::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  background-color: var(--modal-text-color);
  opacity: 0.3;
}

.controls {
  display: flex;
  gap: 14px;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
}
