.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  color: var(--modal-text-color);
  align-items: center;
  padding: 50px 40px 40px;
  min-width: clamp(350px, 50vw, 500px);
  font-family: Inter, sans-serif;
}

.status {
  position: absolute;
  display: block;
  padding: 6px 12px;
  left: 50%;
  top: 9px;
  border-radius: 15px;
  text-shadow: 0 0 8px rgb(0 0 0 / 20%);
  color: var(--text-400);
  font-weight: 600;
  font-size: 15px;
  transform: translate(-50%);
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  width: 100%;
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-200);
}

.type {
  display: block;
  font-weight: 600;
  font-size: 18px;
}

.parameters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 20px;
  overflow: hidden;
  flex-grow: 1;
  color: var(--text-100);
}

.field {
  font-weight: 700;
  margin-right: 10px;
  color: var(--text-100);
}

.value {
  font-size: 19px;
  color: var(--text-300);
}

.text_block {
  border: 1px solid var(--modal-border-color);
  border-radius: 10px;
  margin-top: 4px;
  padding: 10px 12px;
  font-size: 17px;
  width: 100%;
  max-width: 500px;
  line-height: 1.6;
  height: calc(1.6rem * 3 + 14px);
  background-color: var(--bg-200);
  color: var(--text-100);
  overflow: hidden auto;
}

.footer {
  display: flex;
  align-items: end;
  margin-top: 20px;
}

.date_wrapper {
  flex-grow: 1;
}

.date {
  position: relative;
  font-weight: 700;
  font-style: italic;
  color: var(--text-300);
  font-size: 15px;
}

.date::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  background-color: var(--modal-text-color);
  opacity: 0.3;
}

.controls {
  display: flex;
  gap: 14px;
}

.controls_button {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.2s;
  border: 2px solid;
  transition-property: background-color, color, border-color;
  
}

.controls_button_update {
  background-color: var(--accent-250);
  color: var(--text-400);
  border-color: var(--accent-250);
}

.controls_button_update:hover {
  background-color: var(--accent-100);
  border-color: var(--accent-100);
}

.controls_button_delete {
  background-color: var(--bg-100);
  color: var(--primary-100);
  border-color: var(--primary-100);
}

.controls_button_delete:hover {
  background-color: var(--primary-100);
  color: var(--text-400);
  border-color: var(--primary-100);
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
}
