.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;
  padding: 30px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.statistic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 200px;
  gap: 15px;
  background-color: var(--home-bg-color);
  padding: 20px;
  border-radius: 20px;
}

.greetings {
  display: block;
  text-align: center;
  font-size: clamp(1.25rem, 0.9943rem + 1.1364vw, 1.875rem);
  font-weight: 400;
}

.incidents {
  position: relative;
  background-color: var(--home-bg-color);
  flex-grow: 1;
  border-radius: 20px;
  padding: 30px;
}

.incidents_title {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(1.25rem, 0.9943rem + 1.1364vw, 1.875rem);
}

.separator {
  height: 80%;
  width: 1px;
  background-color: var(--bg-300);
}

.incidents_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


@media (width <= 600px) {
  .incidents {
    border-radius: 0;
  }

  .content {
    padding: 30px 0;
  }
  
  .statistic {
    border-radius: 0;
  }

  .statistic .hidden_600 {
    display: none;
  }
}

@media (width <= 760px) {
  .statistic .hidden_760 {
    display: none;
  }
}